* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
}

img {
  height: 600px;
  border-radius: 12px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  background-color: #e6be4d;
}

button {
  font-weight: 800;
  border: none;
  background-color: #381a0d;
  color: antiquewhite;
  border-radius: 8px;
  font-size: 28px;
  padding: 18px;
}

#content {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  background-color: #381a0d;
  color: antiquewhite;
  padding: 24px;
  gap: 32px;
  border-radius: 12px;
  max-width: 85ch;
}

li {
  list-style: none;
}
